# --- master ---
PyLeaves==1.0.2
pyrofork
pyromod==1.5
aiofiles
aiohttp
tgcrypto
requests
bs4==0.0.1  # Specific version often required for quick setup
datetime

#---database---#
pymongo
motor
marshmallow==3.21.0
umongo==3.0.1  # Reverting to the version that worked well with Python 3.10


# --- ytdl ---
yt-dlp
youtube-search-python
youtube-search

# --- python ---
opencv-python-headless
dnspython
googletrans==3.1.0a0
telegraph
python-dotenv

# --- others ---
wget
pytz
wheel
ujson
hachoir
humanize
NumPy  # Latest version compatible with the installed Python
gTTS
Pillow  # Latest version compatible with the installed Python
psutil
speedtest

# --- imdb ---
git+https://github.com/TheBlackxyz/cinemagoer
