#---master---#
PyLeaves==1.0.2
pyrofork
pyromod==1.5
aiofiles
aiohttp
tgcrypto
requests
bs4
datetime

#---database---#
pymongo[srv]
marshmallow
umongo
motor

#---ytdl----#
yt-dlp
youtube-search-python
youtube-search

#---python----#
opencv-python-headless
dnspython
googletrans==3.1.0a0 # यह विशिष्ट वर्ज़न रखना होगा क्योंकि यह Pypi पर अभी लेटेस्ट नहीं है
telegraph
python-dotenv

#----others---#
wget
pytz
wheel
ujson
hachoir
humanize
NumPy # <--- वर्ज़न लॉक हटाया गया
gTTS
Pillow # <--- वर्ज़न लॉक हटाया गया
psutil
speedtest

#---imdb---#
git+https://github.com/TheBlackxyz/cinemagoer
